
.listItem {
  width: 100%;
  max-width: 332px;

  gap: 16px;
  background-color: #FFFEFB;
  position: relative;
  border-radius: 4px;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;

  align-items: end;

  img {
    height: 200px;
    text-align: center;
  }

  &:hover {
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.06);
    transform: translateY(-5px);
    .deleteBtn {
      opacity: 1;
      cursor: pointer;
      pointer-events: auto;
    }
  }
}

.content {
  padding: 16px;
}

.title {
  color: #3F3F3F;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  margin: 0;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  margin-bottom: 32px;
}

.price {
  display: inline-block;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 24px;
  margin-top:auto;
}

.deleteBtn {
  width: 32px;
  height: 32px;
  background-color: #FF8484;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: absolute;
  top: -9px;
  right: -9px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  pointer-events: none;

  img {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}